body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 6% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */

.big-heading {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 56px;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 65px;
}

.navbar-brand {
  font-size: 45px;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 22px;
  font-weight: 300;
}

/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 6%;
}

/* Title Image */

.row-position {
  position: relative;
}

.title-img {
  position: absolute;
  right: 150px;
  transform: rotate(20deg);
  width: 30%;
}

/* Download Buttons */

.download-btn {
  margin: 30px 10px 20px 0;
}

/* Features */

#features {
  position: relative;
}

.feature-title {
  font-size: 24px;
}

.feature-container {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 15px;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 56px;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: auto 20px 15px;
}

/* Pricing section  */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 56px;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

/* Footer Section*/

.social-icon {
  color: #000;
  font-size: large;
  margin: 20px 8px;
}

.social-icon:hover {
  color: #ff4c68;
}

/* Media Query */

@media (max-width: 1330px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    width: 45%;
  }
  .col-mob {
    flex: 0 0 auto;
    width: 100%;
  }
}
